@import "../../../variables.scss";

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    transition: all ease 0.2s;

    h1 {
        font-size: 4rem;
        color: $primary-color;
        transition: all ease 0.2s;

        @include LGtablet {
            align-self: center;
            font-size: 3rem;
        }
        @include tablet {
            align-self: center;
            font-size: 3rem;
        }
        @include phone {
            font-size: 3rem;
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: all ease 0.2s;

        @include LGtablet {
            justify-content: center;
            align-items: center;
        }

        @include tablet {
            justify-content: center;
            align-items: center;
        }

        .form-control {
            display: flex;
            flex-direction: column;
            width: 100%;
            transition: all ease 0.2s;
            position: relative;

            @include LGtablet {
                width: 25em;
            }

            @include tablet {
                width: 25em;
            }

            label {
                color: $primary-color;
                margin-left: 0.5rem;

                @include LGtablet {
                    font-size: 0.75rem;
                }

                @include tablet {
                    font-size: 0.75rem;
                }
            }

            .input-container {
                display: flex;
                width: 100%;
                border-radius: 0.5rem;
                border: 2px solid $primary-color;
                background-color: $quaternary-color;

                input {
                    background-color: transparent;
                    width: 100%;
                    padding: 0.5rem;
                    border: none;
                    color: $primary-color;

                    &:focus {
                        outline: transparent;
                    }
                }

                .password-toggle {
                    font-size: 1.25rem;
                    color: $primary-color;
                    width: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;
                }
            }

            #error-message {
                position: absolute;
                color: $error-color;
                font-size: 0.75rem;
                right: 0;

                @include LGtablet {
                    font-size: 0.6rem;
                }

                @include tablet {
                    font-size: 0.6rem;
                }
            }
        }
    }

    button {
        background-color: $primary-color;
        width: 15rem;
        align-self: center;
        color: $quaternary-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: none;
        transition: all ease 0.2s;
        cursor: pointer;

        @include phone {
            width: 100%;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
